* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
  height: 100vh;

  header {
    //height: 400px; 
    background-color: #212529;

    nav {
      //background-color: #91A39E;

      a, .nav-link {
        color: black;
      }

      

    }
  }

  main {
    margin:auto;
    padding: 15px;
    padding-top: 60px;
    background-color: #91A39E;

    section {
      padding: 30px;
      
    }

    h3 {
      text-align: center;
    }

    hr {
      height: 5px;
      width: 30%;
      margin: auto;
    }

    .conteudo_principal {

      
      h1 {

        span {
            color: rgb(207, 111, 14);
        }
      }
    }

    .formulario {

      form {
        display: flex;
        flex-direction: column;

        label {
          font-size: 16px;
        }

        input {
          border-radius: 10px;
          border: none;
          padding: 10px;
        }

        textarea {
          border-radius: 10px;
          border: none;
        }

        .envia {
          width: 40%;
          margin: 10px auto;
        }

      }

    }

    .galeria {
      display: grid;
      gap: 12px;
      grid-template-columns: repeat(2, auto);

      .img {
        height: 120px;
        width: 240px;
        box-shadow: 1px 1px 1px 0.2px black;
        border-radius: 12px;
        overflow: hidden;

      }
    }


    
  }

  footer {
    background-color: #212529;

    .footer-nav {
      text-align: center;
      margin:auto;
      padding: 10px;

      p {
        color: #91A39E;

        a {
          color: #91A39E;
        }
      }
    }
  }



}